.row{
	margin: 0 -15px;
	[class*='col-']{
		padding: 0 15px;
	}
}

.col-m-3x{
	  @include breakpoint(mobileonly){
  float:left;
  width:33.3%;
  }
}
.col-m-2x{
	  @include breakpoint(mobileonly){
  float:left;
  width:50%;
  }
}
.col-f-3x{
	  @include breakpoint(phablet){
  float:left;
  width:33.3%;
  }
}
.col-f-4x{
	  @include breakpoint(phablet){
  float:left;
  width:25%;
  }
}
.col-f-3x{
	  @include breakpoint(phablet){
  float:left;
  width:33.3%;
  }
}
.col-t-2x{
  @include breakpoint(tablet){
  float:left;
  width:50%;
  }
}
.col-t-3x{
  @include breakpoint(tablet){
  float:left;
  width:33.3%;
  }
}
.col-t-4x{
  @include breakpoint(tablet){
  float:left;
  width:25%;
  }
}
.col-l-1-6{
  @include breakpoint(laptop){
  float:left;
  width:16.6666%;
  }
}
.col-l-4x{
  @include breakpoint(laptop){
  float:left;
  width:25%;
  }
}
.col-l-2x{
  @include breakpoint(laptop){
  float:left;
  width:50%;
  }
}
.col-l-2x-r{
  @include breakpoint(laptop){
  float:right;
  width:50%;
  }
}
.col-l-3-4{
	@include breakpoint(laptop){
	float:left;
	width:75%;
  }
}
.col-l-3x{
	@include breakpoint(laptop){
	float:left;
	width: 33.3%;
  }
}
