.row {
  margin: 0 -15px; }
  .row [class*='col-'] {
    padding: 0 15px; }

.wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  z-index: 2;
  padding: 0 15px; }

@media (max-width: 37.5em) {
  .col-m-3x {
    float: left;
    width: 33.3%; } }

@media (max-width: 37.5em) {
  .col-m-2x {
    float: left;
    width: 50%; } }

@media (min-width: 37.5em) {
  .col-f-3x {
    float: left;
    width: 33.3%; } }

@media (min-width: 37.5em) {
  .col-f-4x {
    float: left;
    width: 25%; } }

@media (min-width: 37.5em) {
  .col-f-3x {
    float: left;
    width: 33.3%; } }

@media (min-width: 54em) {
  .col-t-3x {
    float: left;
    width: 33.3%; } }

@media (min-width: 64em) {
  .col-l-4x {
    float: left;
    width: 25%; } }

@media (min-width: 64em) {
  .col-l-2x {
    float: left;
    width: 50%; } }

@media (min-width: 64em) {
  .col-l-2x-r {
    float: right;
    width: 50%; } }

@media (min-width: 64em) {
  .col-l-3-4 {
    float: left;
    width: 75%; } }

@media (min-width: 64em) {
  .col-l-3x {
    float: left;
    width: 33.3%; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

h1, h1, h3, h4, h5, h6 {
  font-weight: normal; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%; }
