.banks-container.clearfix
	.row.wow.fadeInDown(data-wow-offset=120)
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/credit_agricole_logo.png", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/Raiffeisen Bank logo.jpg", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/credit_agricole_logo.png", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/Raiffeisen Bank logo.jpg", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/credit_agricole_logo.png", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/Raiffeisen Bank logo.jpg", alt="")
	.row.wow.fadeInDown(data-wow-offset=120)
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/credit_agricole_logo.png", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/Raiffeisen Bank logo.jpg", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/credit_agricole_logo.png", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/Raiffeisen Bank logo.jpg", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/credit_agricole_logo.png", alt="")
		.bank-logo.col-l-1-6
			.bank-logo__img
				img(src="img/Raiffeisen Bank logo.jpg", alt="")