.footer-wrap.clearfix
	.footer.clearfix
		.footer__logo.col-l-4x.col-t-4x
			a(href="#")
				img(src="img/logo_footer.png", alt="logo")
		.footer__firma.col-l-4x.col-t-4x
			p FIRMA
			ul
				li
					a(href="#") O firmie  
				li
					a(href="#") Oferta 
				li
					a(href="#") Wycena nieruchomości 
				li
					a(href="#") Aktualności 
				li
					a(href="#") Linki  
				li
					a(href="#") Kontakt
		.footer__kontakt.col-l-4x.col-t-4x
			p KONTAKT
			.email
				a(href="#") biuro@integro-wyceny.pl
			.phone
				span Tel. 61  861  56  93
			.fax
				span Fax 61  861  60  53
			.socials.clearfix
				a(href="#")
					.soc-icon
						i.fa.fa-facebook
				a(href="#")
					.soc-icon
						i.fa.fa-twitter
				a(href="#")
					.soc-icon
						i.fa.fa-linkedin
				a(href="#")
					.soc-icon
						i.fa.fa-instagram
				
		.footer__about.col-l-4x.col-t-4x
			span O NAS
			p Przedsiębiorstwo INTEGRO GROUP świadczy usługi na rzecz Klientów korporacyjnych i indywidualnych na terenie całej Polski, w zakresie wyceny nieruchomości i kontroli inwestycji. 
	.copyright
		span Integro Group 2016
		span Wykonanie: Ars.Vision
