title ArsVision
meta(charset='utf-8')
script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")


script(src='js/src.js')
script(src='js/lightslider.js')
script(src='js/wow.js')
meta(name="viewport" content="width=device-width")
link(rel='stylesheet', href='css/style.css')
link(rel='stylesheet', href='css/lightslider.css')
link(rel='stylesheet', href='css/animate.css')

link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
