.info.wow.fadeInUp.clearfix(data-wow-offset=120)
	.info__title
		|Poznaj nas
	.info__text
		|Integro Group prowadzi działalność od maja 2007 roku. Teren działalności Firmy obejmuje obszar całego kraju. Dla potrzeb swoich Klientów dostarczamy opracowania w formie operatów szacunkowych, ekspertyz bankowo–hipotecznej wartości nieruchomości, inspekcji nieruchomości, kontroli budowy i inwestycji oraz analiz i badań rynku nieruchomości.
	.info__text
		|INTEGRO GROUP dostarcza swoim Klientom szeroką gamę opracowań związanych z szacowaniem wartości nieruchomości, analizą rynku nieruchomości, analizą stanu technicznego i formalno-prawnego. Zaliczyć do nich możemy w szczególności: