.map-container.clearfix
	.info-wrap.col-l-2x.col-t-2x.wow.fadeInLeft(data-wow-offset=120)
		.info
			.info__title.wow.fadeInDown(data-wow-offset=120)
				p Integro Group Spółka z o. o. Sp. k.
			.wow.fadeInUp(data-wow-offset=120)
				.info__adress
					p 60 – 529 Poznań, ul. Dąbrowskiego 79A, Vp.
				.info__email
					a(href="#") biuro@integro-wyceny.pl
				.info__phone
					p telefon (+48) 61 861 56 93
				.info__fax
					p fax (+48) 61 861 60 53
				.info__add-location
					p NIP 7792310026 / REGON 300578586
					p Dodać mapkę z lokalizacją biura
		
	.map.col-l-2x.col-t-2x
.back-top 
	a(href="#") POWRÓT DO GÓRY
	
	