.news-container.clearfix
	.news-title.wow.fadeInDown(data-wow-offset=120)
		span Aktualności
	.news-items.wow.fadeInDown.clearfix(data-wow-offset=120)
		.news-item.col-l-3x
			.news-item__date
				span 20.11.2016
			.news-item__title
				span Lorem ipsum dolor sit amet
			.news-item__text
				p Donec suscipit condimentum eros nec lobortis. Aenean quam diam, condimentum ac iaculis a, volutpat eu metus. Aliquam ante sem, pharetra a egestas sed, aliquam non diam. 
			.news-item__more
				a(href="#") Dowiedz się więcej
				
		.news-item.col-l-3x
			.news-item__date
				span 20.11.2016
			.news-item__title
				span Lorem ipsum dolor sit amet
			.news-item__text
				p Donec suscipit condimentum eros nec lobortis. Aenean quam diam, condimentum ac iaculis a, volutpat eu metus. Aliquam ante sem, pharetra a egestas sed, aliquam non diam. 
			.news-item__more
				a(href="#") Dowiedz się więcej
				
		.news-item.col-l-3x
			.news-item__date
				span 20.11.2016
			.news-item__title
				span Lorem ipsum dolor sit amet
			.news-item__text
				p Donec suscipit condimentum eros nec lobortis. Aenean quam diam, condimentum ac iaculis a, volutpat eu metus. Aliquam ante sem, pharetra a egestas sed, aliquam non diam. 
			.news-item__more
				a(href="#") Dowiedz się więcej