.news-number
	.news-container.clearfix
		.news-items.wow.fadeInDown.clearfix(data-wow-offset=120)
			.news-item.col-l-3x
				.news-item__date
					span 01
				.news-item__title
					span operaty  szacunkowe
				.news-item__text
					p Wyceny wartości nieruchomości sporządzane dla potrzeb bieżącego procesu kredytowego oraz dla potrzeb oszacowania wartości dużych portfeli nieruchomości
				.news-item__more
					a(href="#") Dowiedz się więcej
					
			.news-item.col-l-3x
				.news-item__date
					span 02
				.news-item__title
					span Ekspertyzy bankowo-hipotecznej  wartości nieruchomości
				.news-item__text
					p Sporządzane dla potrzeb banków hipotecznych, zarówno dla procesu bieżącego udzielania kredytów, jak również oceny wartości zabezpieczeń
				.news-item__more
					a(href="#") Dowiedz się więcej
					
			.news-item.col-l-3x
				.news-item__date
					span 03
				.news-item__title
					span Wyceny ruchomości
				.news-item__text
					p 
						ul
							li maszyn
							li urządzeń
							li linii technologicznych
				.news-item__more
					a(href="#") Dowiedz się więcej