.Our-team.clearfix
	.Our-team__title
		span Nasz zespół
	.Our-team__items
		.row
			.team-item.col-l-3x
				.team-item__img.wow.fadeIn(data-wow-offset=120)
					img(src="img/team-foto_1.png", alt="")
				.team-item__title.wow.fadeInUp(data-wow-offset=120)
					span think
				.team-item__text.wow.fadeInUp(data-wow-offset=120)
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam, mi quis cursus auctor, quam erat vehicula urna, sed sagittis orci ante nec turpis. 
				.team-item__more.wow.fadeInUp(data-wow-offset=120)
					a(href="#") Dowiedz się więcej
					
			.team-item.col-l-3x
				.team-item__img.wow.fadeIn(data-wow-offset=120)
					img(src="img/team-foto_2.png", alt="")
				.team-item__title.wow.fadeInUp(data-wow-offset=120)
					span search
				.team-item__text.wow.fadeInUp(data-wow-offset=120)
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam, mi quis cursus auctor, quam erat vehicula urna, sed sagittis orci ante nec turpis. 
				.team-item__more.wow.fadeInUp(data-wow-offset=120)
					a(href="#") Dowiedz się więcej
					
			.team-item.col-l-3x
				.team-item__img.wow.fadeIn(data-wow-offset=120)
					img(src="img/team-foto_3.png", alt="")
				.team-item__title.wow.fadeInUp(data-wow-offset=120)
					span project
				.team-item__text.wow.fadeInUp(data-wow-offset=120)
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam, mi quis cursus auctor, quam erat vehicula urna, sed sagittis orci ante nec turpis. 
				.team-item__more.wow.fadeInUp(data-wow-offset=120)
					a(href="#") Dowiedz się więcej


