.reviews-container.clearfix
	.reviews-slider.col-l-2x.wow.fadeInLeft(data-wow-offset=120)
		.slider
			.slider-item
				.slider-item__foto
					img(src="img/slider-foto.jpg", alt="")
				.slider-item__text
					p Aliquam ante sem, pharetra a egestas sed, aliquam non diam. Fusce elementum magna ut lacus cursus, eget dapibus mi condimentum. Praesent pulvinar, ligula sit amet placerat fringilla, diam leo lobortis tortor, maximus vehicula ex leo at mauris.
				.slider-item__title
					p Marek Kowalski
					span Stanowisko
			.slider-item
				.slider-item__foto
					img(src="img/slider-foto.jpg", alt="")
				.slider-item__text
					p Aliquam ante sem, pharetra a egestas sed, aliquam non diam. Fusce elementum magna ut lacus cursus, eget dapibus mi condimentum. Praesent pulvinar, ligula sit amet placerat fringilla, diam leo lobortis tortor, maximus vehicula ex leo at mauris.
				.slider-item__title
					p Marek Kowalski
					span Stanowisko
			.slider-item
				.slider-item__foto
					img(src="img/slider-foto.jpg", alt="")
				.slider-item__text
					p Aliquam ante sem, pharetra a egestas sed, aliquam non diam. Fusce elementum magna ut lacus cursus, eget dapibus mi condimentum. Praesent pulvinar, ligula sit amet placerat fringilla, diam leo lobortis tortor, maximus vehicula ex leo at mauris.
				.slider-item__title
					p Marek Kowalski
					span Stanowisko
			.slider-item
				.slider-item__foto
					img(src="img/slider-foto.jpg", alt="")
				.slider-item__text
					p Aliquam ante sem, pharetra a egestas sed, aliquam non diam. Fusce elementum magna ut lacus cursus, eget dapibus mi condimentum. Praesent pulvinar, ligula sit amet placerat fringilla, diam leo lobortis tortor, maximus vehicula ex leo at mauris.
				.slider-item__title
					p Marek Kowalski
					span Stanowisko
		.RevSlidePrev
		.RevSlideNext
		
	.reviews-text.col-l-2x.wow.fadeInRight(data-wow-offset=120)
		.reviews-text__title
			span Lorem Ipsum
		.reviews-text__text
			p Ponad 9-letnie doświadczenie na rynku nieruchomości zaowocowało współpracą z największymi Bankami działającymi na terenie Polski, jak również z wieloma deweloperami, przedsiębiorstwami oraz klientami indywidualnymi.
	
	
//	
//	.numb
//			span.curent 1
//			span.slash /
//			span.total