doctype
html(lang=ru)
	head
		include ./parts/head
	body
		.wrapper
			include ./parts/info
			include ./parts/news-number
			include ./parts/Our_team
			include ./parts/reviews
			include ./parts/banks
			include ./parts/news
			include ./parts/map
		include ./parts/footer